.card
{
	width: 100px;
	height: 100px;
	background-color: pink;
	text-align: center;	
}

.card label
{
	font-size: xx-large;
	margin-left: 40%;
	margin-right: 40%;
}
.on
{
	background-color: red;
}
